<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ict.egovgo.mapper.memberMapper">

	<select id="login" resultType="MemberVO">
		SELECT
			USER_ID,
			USER_PW,
			USER_NM,
			USE_YN,
			AUTH_YN	
		FROM USER_INFO
		WHERE 1=1
		  AND USER_ID = #{user_id}
		  AND USER_PW = #{user_pw}
		  AND USE_YN = 'Y' 
	</select>
	
	
	<select id ="memberList" resultType="MemberVO">
		SELECT
			USER_ID,
			USER_NM,
			USE_YN,
			RGSDE
		FROM MEMBER_INFO
		WHERE 1=1
		   AND USE_YN ='Y'
		   <if test="user_id != null and user_id != ''">
		  AND USER_ID = #{user_id}
		  </if>
	</select>

	<select id ="userList" resultType="MemberVO">
		SELECT
			USER_ID,
			USER_NM,
			DEPT_NM,
			DEPT_POSITION,
			HP,
			EMAIL,
			EMP_STATUS,
			AUTH_YN
		FROM USER_INFO
		WHERE 1=1
		AND USE_YN ='Y'
	</select>

</mapper>


